.profile-details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5vh;
  margin-bottom: 5vh;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: italic;
  font-family: cursive;
}

.name {
  font-size: 5vh;
}

.profile img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
  transition: transform 0.3s ease-in-out;
}

.profile img:hover {
  transform: scale(1.03);
}

.progress {
  display: flex;
  align-items: center;
  gap: 5vh;
  margin-top: 5vh;
}

.progress-bar {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: 1vh solid red;
  background-color: rgb(53, 43, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.progress-bar h1 {
  color: rgb(228, 217, 217);
  font-size: 1.5rem;
  text-align: center;
}

#schedule {
  height: 5vh;
  border-radius: 1vh;
  font-style: italic;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}

.sub-progress {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  flex-wrap: wrap;
  gap: 5vh;
}

.subject {
  height: 30vh;
  width: 30vh;
  border-radius: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background-color: #7b8891;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.subject:hover {
  transform: translateY(-2vh);
}

.subject h1 {
  font-size: 1.5rem;
  color: white;
  font-family: sans-serif;
}
